:root {
  --background-color: #f6f8fa;
  --text-color: #24292e;
  --link-color: #0366d6;
  --link-hover-color: #005cc5;
  --code-background: #f6f8fa;
  --code-border: #e1e4e8;
  --code-text: #24292e;
}

body.dark-mode {
  --background-color: #1b202c;
  --text-color: #ffffff;
  --link-color: #ffffff;
  --link-hover-color: #c4e3ff;
  --code-background: #2d333b;
  --code-border: #444c56;
  --code-text: #ffffff;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

pre {
  background-color: var(--code-background);
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--code-border);
  font-family: monospace;
  font-size: 14px;
  line-height: 1.6;
  overflow: auto;
  color: var(--code-text);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

code {
  background-color: var(--code-background);
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 14px;
  color: var(--code-text);
  border: 1px solid var(--code-border);
  transition: background-color 0.3s, color 0.3s;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hsl-modifier, .color-keywords {
  flex: 1;
  margin-right: 40px;
}

.hsl-controls {
  display: flex;
  width: 100%;
}

.sliders {
  width: 100%; 
  display: flex;
  padding-top: 5%;
  flex-direction: column;
  gap: 30px; 
}

.slider-group {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 90%; 
}

.slider-group label {
  display: inline-block;
  width: 25%;
  font-size: 18px;
}

.slider-group input[type="range"] {
  flex: 1; 
  margin: 0 10px;
}

.slider-group span {
  display: inline-block;
  width: 10%; 
  font-size: 18px;
  text-align: right; 
}
#modifierColorDisplay {
  width: 50%;
  border: 1px solid #000;
  background-color: hsla(180, 50%, 50%, 1); 
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 90%;
}

button:hover {
  background-color: #555;
}

.copy-message {
  position: fixed;
  top: 2%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: rgba(50, 50, 50, 0.8); 
  color: white;
  padding: 10px 10px;
  border-radius: 10px; 
  font-size: 16px;
  text-align: center;
  display: none; 
  z-index: 1000; 
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.show-message {
  display: inline-block;
  opacity: 1; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f6f8fa;
  --text-color: #24292e;
  --label-color: #24292e;
  --icon-color: #000000;
  --status-color: #0366d6;
}

body.dark-mode {
  --background-color: #1b202c;
  --text-color: #ffffff;
  --label-color: #c4c4c4;
  --icon-color: #ffffff;
  --status-color: #66cfff;
}

body {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.entities-preview {
  padding: 20px;
}

.entities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.entity {
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.entity i {
  font-size: 36px;
  color: var(--icon-color); 
  transition: color 0.3s;
}

.label {
  font-size: 16px;
  color: var(--label-color); 
  margin-top: 10px;
}

.status {
  font-size: 14px;
  color: var(--status-color); 
  margin-top: 5px;
}

.entity:hover {
  box-shadow: 0 0 10px var(--status-color);
}


.fan, .fa-house-user, .fa-user, .fa-bell {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.4); 
}

#acOfficeCoolStatus1 {
  display: none;
}

#acOfficeCoolStatus {
  display: none;
}

.active {
  animation: spin 1s linear infinite;
}

.dynamic-color {
  color: hsla(180, 50%, 50%, 1); 
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*////////////////////////// */

#colorTableContainer {
  display: flex;
  justify-content: left;
}

table {
  border-collapse: collapse;
}

td {
  width: 40px;
  height: 42.5px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ddd;
}

td:hover {
  opacity: 0.8;
}